/* Core styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,700&display=swap');:root{
    --Lato: 'Roboto Condensed', sans-serif;;
    --grey: #999;
    --brown: #99CC99;
    --exGrey: #444444;
    --darkGrey: #333;
}
html{
    scroll-behavior: smooth;
}
body{
    line-height: 1.4;
    position: relative;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Lato);
}
.section-btn a{
    color: var(--grey);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.8rem 2.5rem;
    border: 1px solid var(--grey);
    transition: all .4s ease;
}
.section-btn a:hover{
    color: var(--brown);
    border-color: var(--brown);
}
.section-btn{
    display: block;
    text-align: right;
}
.left-content{
    background-color: var(--darkGrey);
}
.right-content__img1{
    background-image: url("../image/vertex-bg-01.jpg");
    background-position:right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.right-content__img2{
    background-image: url("../image/vertex-bg-02.jpg");
    background-position:right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.right-content_img3{
    background-image: url("../image/vertex-bg-03.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.right-content_img4{
    background-image: url("../image/vertex-bg-04.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 3rem;
}
/* Start of Javascript styles */
.show{
    display: grid !important; 
}
.hide{
    display: none !important;
}
.activeNavbar{
    transform: translateX(0) !important;
}
/* End of Javascript styles */
/* Start of header and Navbar section styles*/
.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.navigation{
    background-color: var(--exGrey);
    padding: 2rem 3rem;
    width: 50%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
}
.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__link{
    color: var(--grey);
    text-decoration: none;
    font-size: 1.3rem;
    margin-right: 1rem;
    font-weight: 400;
    transition: all .4s ease;
    letter-spacing: 1px;
}
.active__link{
    color: var(--brown);
}
.navbar__link:hover{
    color: var(--brown);
}
.burger{
    display: none;
}
.burger i{
    color: var(--grey);
    font-size: 2rem;
    cursor: pointer;
}
.burger i:hover{
    color: #fff;
}
/* End of header and Navbar section styles*/
/* Start of introduction section styles*/
.introduction{
    padding: 2rem; 
}
.intro-content{
    padding: 4rem 3rem;
}
.intro-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    padding: 1.2rem 0 3rem 0;
}
.intro-item img{
    width: 90%;
}
.intro-title{
    color: var(--brown);
    padding: 1.2rem 0;
    font-size: 1.9rem;
    font-weight: 700;
}
.intro-text{
    color: var(--grey);
    font-weight: 600;
    padding: 0.5rem 0;
    line-height: 1.5;
    font-weight: 500;
}
.intro-link{
    color: #9999CC;
    font-size: 1.2rem;
    padding: 2rem 0;
    display: block;
    text-decoration: none;
    text-align: right;
    border-bottom: 1px solid rgba(151, 151, 151, 0.821);
}

/* End of introduction section styles*/
/* Start of service section styles */
.services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.service-content{
    padding: 4rem 3rem;
    background-color: var(--darkGrey);
}
.service-first__text{
    padding: 1.5rem;
}
.service-second__text{
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.service-title{
    color: var(--brown);
    font-weight: 700;
    padding: 1.2rem 0;
    font-size: 2rem;
}
.service-text{
    color: var(--grey);
    padding: 1.2rem 0;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: var(--Lato);
}
.service-btn a{
    color: var(--grey);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.8rem 2.5rem;
    margin: 1.5rem;
    border: 1px solid var(--grey);
    transition: all .4s ease;
}
.service-btn a:hover{
    color: var(--brown);
    border-color: var(--brown);
}
.service-btn{
    display: block;
    text-align: right;
}
.service-item{
    padding: 0.5rem 0.6rem;
}
.border-bottom_second{
    border-bottom: 1px solid rgba(151, 151, 151, 0.821);
}
.service-item span i{
    color: var(--grey);
    font-size: 3rem;
    text-align: center;
    display: block;
    text-align: center;
}
/* End of service section styles */
/* Start of gallery section styles */
.gallery{
    padding: 2rem;
    background-color: var(--darkGrey);
}
.gallery-title{
    color: var(--brown);
    font-weight: 700;
    padding: 2rem 0;
    font-size: 2rem;
    text-align: right;
  
}
.gallery-main-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.gallery-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 1.2rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    transition: all .4s ease-in-out;
}
.gallery_row{
    height: 15rem;
    overflow-y: hidden;
}
.gallery-item{
    overflow: hidden;
    height: auto;
    padding-bottom: 1.2rem;
    transition: all .2s linear;
    background-color:  #9c9;
}
.gallery-item:hover{
    transform: translateY(-22%);
    
}
.gallery-img{
    position: relative;
    margin: 0;
}
.gallery-img:after{
    content: " ";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.164);
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.gallery-img img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
   
}
.gallery-img h1{
    color: #fff;
    position: absolute;
    bottom: 10px;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 2px;
    left: 10px;
}
.gallery-text{
    padding: 1.5rem;
    color: #fff;
    font-size: 1.1rem;
    transition: all 0.5s ease;
}
.gallery-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
}
.gallery__link{
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    margin: 0.5rem;
    background-color: #111;
    color: var(--grey);
    cursor: pointer;
    transition: all .2s ease-in;
}
.gallery__link:hover{
    background-color: var(--exGrey);
}
.active-content{
    animation-name: activeContent;
    animation-duration: 1s;
}
@keyframes activeContent {
    0%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}
/* End of gallery section styles */
/* Start of about section styles */
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.about-content{
    padding: 4rem 3rem;
    width: 80%;
    margin: 0 auto;
}
.about-title{
    color: var(--brown);
    padding: 1.2rem 0;
    font-size: 2rem;
    letter-spacing: 1px;
}
.about-text{
    color: var(--grey);
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 2rem 0;
    margin: 1rem 0;
}
.about-text__bordered{
    border-bottom: 1px solid var(--grey);
}
/* End of about section styles */
/* Start of contact section styles */
.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contact-content{ 
    padding: 5rem 3rem;
    width: 85%;
    margin: 0 auto;
    position: relative;
}
.contact-title{
    color: var(--brown);
    padding: 1.2rem 0;
    font-size: 2rem;
    letter-spacing: 1px;
}
.contact-text{
    color: var(--grey);
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 2rem 0;
    margin: 1rem 0;
}
.form input{
    display: block;
    width: 100%;
    padding: 1.2rem;
    margin: 2rem 0;
    background-color: var(--darkGrey);
    border: none;
    outline: none;
    border-bottom: 1px solid var(--grey);
    font-size: 1.2rem;
    color: var(--grey);
}
.foo-text{
    position: absolute;
    bottom: 10px;
    left: 3rem;
    color: var(--grey);
}
frame{
    width: 400px;
}
/* End of contact section styles */
/* Start of Section card styles */
.section-card{
    padding: 3rem 5rem;
    background-color: var(--darkGrey);
    color: var(--grey);
    border-radius: 1rem;
    display: inline-block;
    text-align: center;
    position: fixed;
    bottom: 1.2rem;
    right: 1.2rem;
}
.section-img i{
    color: var(--grey);
    font-size: 2rem;
}
/* End of Section card styles */
/* Start of Media query for laptop and tablot sytles */
@media screen and (max-width: 1000px) {
    .header,
    .about,
    .services,
    .gallery,
    .contact{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .intro-content,
    .about-content,
    .service-content,
    .gallery-content,
    .contact-content{
        padding: 6rem 2rem;
        width: 100%;
    }
    .navigation{
        width: 100%;
        
    }
    .navbar__link{
        font-size: 1.5rem;
    }
}
/* End of Media query sytles */
/* Start of Media query for phone styles */
@media screen and (max-width: 800px){
    .intro-content,
    .about-content,
    .service-content,
    .gallery-content,
    .contact-content{
        padding: 6rem 1rem;
        width: 100%;
    }
    .navigation{
        display: inline-block;
        width: max-content;
        padding: 1rem;
        z-index: 999;
    }
    .navbar-nav{
        position: absolute;
        top: 10vh;
        left: 0;
        padding: 1rem;
        width: max-content;
        background-color: var(--exGrey);
        display: block;
        transform: translateY(-200%);
        transition: transform .5s ease-in;
    }
    .navbar__link{
        display: block;
        padding: 0.5rem 0;
    }
    .burger{
        display: block;
    }
    .intro-item{
        grid-template-columns: repeat(1, 1fr);
    }
    .about-item{
        grid-template-columns: repeat(1, 1fr);
    }
    .gallery-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .service-second__text{
        grid-template-columns: repeat(1, 1fr);
    }
    frame{
        width: 100px;
    }
}
/* End of Media query for phone styles */